@font-face {
    font-family: "avenirnextmedium";
    src: local("AvenirNextCyr-Medium"),
     url("../fonts/AvenirNextCyr-Medium.woff") format("woff");
}
@font-face {
    font-family: "avenirnextbold";
    src: local("AvenirNextCyr-Bold"),
     url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
}

$primary: #39CDCC;
$secondary: #213F7D;

@mixin breakpoint($point){
    @if $point == md{
        //768px == 48em
        @media(max-width: 48em){
            @content 
        }
    }
    
}

body{
    background-color: rgba(207, 207, 207, 0.1);
}