@import '../../assets/styles/variants.scss';


.users{
    padding-left: 280px;
    padding-right: 2rem;
    color: $secondary;
    @include breakpoint(md){
        padding-left: 60px;
    }

    h2{
        padding: 2rem 0;
    }

    &__details{
        display: grid;
        grid-template-columns: repeat(4, minmax(0,1fr));
        column-gap: 40px;
        @include breakpoint(md){
            grid-template-columns: repeat(2, minmax(0,1fr));
            row-gap: 20px;
        }
        
    }
    
    &__individual_details{
        background-color: #fff;
        padding: 1rem;
        border-radius: 10px;
        width: 230px;
        box-shadow: 0px 0px 4px  #e8e7e7 ;
        @include breakpoint(md){
            width: 100%;
        }

        h3{
            padding: 12px 0;
            font-weight: 500;
            font-size: 13px;
            opacity: 0.8;

        }
        p{
            font-weight: 800;
            font-size: 1.5rem
        }

    }
}