@import '../../assets/styles/variants.scss';

.nav{
    background-color: #fff;
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    &__logo_form{
        display: flex;
        align-items: center;
    }

    &__form{ 
        padding-left: 6rem;
        @include breakpoint(md){
            display:none
        }
        form{
            border: 1px solid #eee;
            border-radius: 5px;
            display: flex;
            padding-left: 10px;
            width: 300px;
        }

        input{
            border: none;
            outline: none;
            height: 5vh;
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5vh;
            margin-left: auto;
            width: 40px;
            background-color: $primary;
            border: none;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }
    }
    &__personal_details{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @include breakpoint(md){
            display:none
        }
        
        &_avatar{
            display: flex;
            align-items: center;
        }
        a{
            color: $secondary;
        }
        div{
            padding-right: 2rem;
        }
        img{
            border-radius: 50%;
        }
        h2{
            font-size: 1rem;
            font-weight: 600;
            padding-left: 10px;
        }
    }
    
    &__toggle{
        display: none;
        @include breakpoint(md){
            display:block;
            cursor:pointer
        }
    }
}

.sidebar{
    background-color: #fff;
    width: 230px;
    padding: 0 1.5rem;
    font-size: 14px;
    color: $secondary;
    position: absolute;
    height: 100vh;
    overflow: auto;
    
    
    h1{
        font-size: 14px;
        font-weight: 500;
        padding: 7px 0 ;
    }
    h2{
        font-size: 14px;
        font-weight: 500;
        padding-top: 18px ;
        padding-bottom: 10px ;
    }
    a{
        text-decoration: none;
        color: $secondary;
    }
    &__organization{
        display: flex;
        align-items: center;
        padding-top: 1rem;
        a{
            padding-left: 10px;
        }
    }
    
    &__dashboard{
        display: flex;
        align-items: center;
        padding: 1rem 0;
        h1{
            padding-left: 10px;
        }
    }
    
    &__downlines{
        display: flex;
        flex-direction: column;
        opacity: .8;
        a{
            padding: 9px 0;
        }
        span{
            padding-left: 10px;
            
        }
    }
    
    &__logout{
        margin: 8rem 0 0;
        border-top: 1px solid #ccc;
        padding: 1rem 0;
        position: relative;
        span{
            padding-left: 20px;
            
        }

    }
}

.display_properly{
    display: flex;
    justify-content: space-between;
    &__toggle{
       padding: 2rem;
       cursor: pointer;
        
    }
}
